<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator - Art</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1 class="heading">ASCII Art Generator</h1>
    </header>
    <div class="container">
        <div id="asciiArtContainer">
            <pre>{{ ascii_art }}</pre>
        </div>
    </div>
    <div class="Github">
        <a href="https://github.com/adishgarg/ASCII-art-generator">
            <i class="fa-brands fa-github-alt"> Github</i>
        </a>
    </div>
</body>
</html>
