<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\HARMAN\Desktop\ASCII-art-generator\static\styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/434e47e12a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1 class="heading">ASSCII Art-Generator</h1>
    </header>
    <form action="/ascii" method="POST" enctype="multipart/form-data" id="upload-form">
      <div class="container">
          <div id="dropbox">
              <p>Drag and drop or upload an image here</p>
              <input type="file" id="imageInput" name="image" accept="image/*" style="margin-top: 20px;">
              <button type="submit" class="button">Upload</button>
          </div>
      </div>
  </form>
  <div class="Github">
    <a href="https://github.com/adishgarg/ASCII-art-generator">
        <i class="fa-brands fa-github-alt"> Github</i>
    </a>
</div>

    <script>
        var dropbox = document.getElementById('dropbox');

        dropbox.addEventListener("dragenter", function (e) {
          e.preventDefault();
          dropbox.style.background = "#f7f7f7";
        });

        dropbox.addEventListener("dragover", function (e) {
          e.preventDefault();
        });

        dropbox.addEventListener("dragleave", function (e) {
          e.preventDefault();
          dropbox.style.background = "";
        });

        dropbox.addEventListener('drop', function(e) {
            e.preventDefault();
            dropbox.style.background = '';

            var file = e.dataTransfer.files[0];
        });
    </script>
  </body>
</html> 


